.cuadro{
	border:	#D3D3D3 1px solid;
	border-top:none;
	padding:15px;
	
}
div.desactivado{
	background-color:#FEF8E5;
	padding-bottom:35px;	
}
div.activado{
	background-color:#FAD184;
	border:#D80003 1px solid;
}

.arriba{
	margin-top:0px;	
}
.separador{
	margin:3px;	
	margin-bottom:15px;
}
.centrar{
	text-align:center;
	font-weight:bold	
}